@import "~bootstrap";

body {
	padding: 50px 0;
	text-align: center;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.result {
	margin-top: 20px;
	min-height: 200px;
	position: relative;
	overflow: auto;
}

h1 {
	margin: 20px 0;
	font-weight: 900;
}

h1 small {
	display: block;
	font-size: 0.5em;
	margin-top: 10px;
}

.shortform input.urlinput {
	display: inline-block;
	width: 400px;
	vertical-align: middle;
}

footer {
	margin-top: 100px;
	font-size: 12px;
}

@media (max-width: 480px) {
	.shortform input.urlinput {
		width: 100%;
	}

	button {
		display: block;
		width: 100%;
		margin-top: 5px;
	}
}

@media (max-width: 768px) {
	body {
		padding: 25px 0;
	}

	.result {
		min-height: 100px;
	}

	footer {
		margin-top: 30px;
		font-size: 12px;
	}
}

.spinner {
	margin: 40px auto;
	width: 40px;
	height: 40px;
	position: relative;
	text-align: center;

	// -webkit-animation: sk-rotate 2.0s infinite linear;
	animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: $brand-success;
	border-radius: 100%;

	// -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
	top: auto;
	bottom: 0;
	// -webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

// @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); /*-webkit-transform: rotate(360deg)*/ }}

// @-webkit-keyframes sk-bounce {
// 	0%, 100% { -webkit-transform: scale(0.0) }
// 	50% { -webkit-transform: scale(1.0) }
// }

@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		// -webkit-transform: scale(0.0);
	} 50% {
		transform: scale(1.0);
		// -webkit-transform: scale(1.0);
	}
}
